/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =============
MY STYLES
================ */

body {
    background-color:#aad4cf; 
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1024px;
	background-color: #d4e9e7;
    margin: 0 auto;
	padding-bottom: 50px;
}

/*move h1 position*/
h1 {
	color: white;
	font-size: 50px;
	position: absolute;
	top: 210px;
	left: 370px;
  }

  h2 {
	padding-top: 35%;
	padding-left: 20px;
	text-align: left;
	color:black;
	font-size: 30px;
	position: relative;
	
  }

  h3 {
	padding-top: 30px;
	padding-left: 20px;
	text-align: left;
	color:black;
	font-size: 25px;
	position: absolute;
  }

  h4 {
	padding-left: 20px;
	text-align: left;
	color: black;
	font-size: 25px;
	position: relative;
	padding-top: 75px;
	padding-bottom: 15px;
  }

header {
	position: relative;
	float: left;
  }

  a {
	display: inline-block;
	width: 337px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 25px;
  }
  
  .small {
	width: 230px;
	float: left;
	position: relative;
	left: 20px;
	top: 5px;
  }

  p {
	font-size:14px;
	font-weight: bold;
	line-height: 150%;
	position: relative;
	top: 5px;
	left: 35px;
	padding-right: 40px;
  }
  
  nav ul {
	list-style: none;
	margin: 0; padding: 0;
	color: black;
  }
  
  nav li {
	display: inline;
  }
  
  nav a {
	display: inline-block;
	border-right: 1px solid black;
	padding: 10px 20px;
  }

 .points {
	list-style-type: disc;
	color: black;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	position: relative;
	left: 42px;
	top: 60px;
  }

  * {
	box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	position: relative;
	left: 10px;
  }

  .col-85 {
	float: left;
	width: 95%;
	position: relative;
	top: 3px;
  }

 .button {
	width: 6%;
	height: 35px;
	border: 2px groove;
	border-color: black;
	background-color: #d4e9e7;
	color: black;
	float: left;
	font-size: 10px;
	text-align: center;
	position: relative;
	margin-top: 10px;
	padding-top: 12px;
	left: 10px;
  }
  

  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	position: relative;
	left: 10px;
	padding-top: 10px;
  }

  h5 {
	padding-top: 15px;
	padding-left: 10px;
	text-align: left;
	color: black;
	font-size: 20px;
	position: relative;
  }

  footer {
	text-align: right;
	position: relative;
	padding-right: 200px;
	top: 30px;
	left: 170px;
  }
